#main-header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgb(220,220,220);
}
#main-header-content {
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 1000px;
    height: 100%;
    margin: auto;
    padding: 12px 10px;
}
#main-header-content-logo_container {
    display: table;
    box-sizing: border-box;
    height: calc(100% - 10px);
    width: auto;
    border-radius: 5px;
    cursor: pointer;
}
#main-header-content-logo_container a {
    display: inherit;
    padding: 3px 5px;
}
    #main-header-content-logo_container:hover {
        background: rgb(235,235,235);
    }
#main-header-content-logo_img {
    height: 50px;
}